body {
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
 
}

header {
    height: 75px;
    width: 100%;
}


.left-panel {
    height: 150px;
    width: 100%;
}

.main-wings {
    height: 125px;
    width: 100%;
}


.supporting-container {
    overflow: hidden;
}

.supporting-content {
    height: 250px;
    width: 50%;
    display: inline-block;
}

.footer {
    height: 80px;
}

@media (min-width: 768px) {

    body {
        max-width: 960px;
        margin: 0 auto;
    }
    
    header {
        height: 100px;
        width: 100%;
    }

    #main{
        border: 0;
        display: flex;
        flex-direction: row;
    }
    
    .left-panel {
        height: 600px;
        width: 20%;
        vertical-align: middle;
    }
    
    .main-container {
        height: 200px;
        width: 80%;
        
    }

    .main-wings {
        height: 200px;
        width: 50%;
        float: left;
    
    }
    
    .supporting-content {
        height: 250px;
        width: 25%;
    }
    
    .footer {
        height: 150px;
        width: 100%;
    }
}